@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);

  transition: all 0.5s;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  background-color: rgba(204, 204, 204, 0.5);
  padding: 15px 25px;
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.5s;
  margin-bottom: 25px;
}

.container:hover {
  box-shadow: 0px 26px 70px 1px rgba(0, 0, 0, 0.4);
  transform: scale(1.001);
}

.container h1 {
  font-weight: 500;
}

.color-text {
  font-size: 18px;
}

@media (max-width: 460px) {
  .container h1 {
    font-size: 22px;
  }
}

